
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap');


* {
  font-family: 'Roboto', sans-serif;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #dedede;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 4px;
  }
}
a{
  text-decoration: none;
    color: white;
}
body{
  overflow-x: hidden; 
}
.css-heg063-MuiTabs-flexContainer{
  justify-content: center;
}
.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dialog-title {
  font-size: 22px !important;
  text-align: center;
  background-color: blueviolet;
  margin-bottom: 50px !important; 
  color: white;
  text-transform: uppercase;
}
.MuiFormControl-root{
  width: 100%;
}
.App-link {
  color: #61dafb;
}

.alert {
  position: fixed;
  left: 50%;
  top: 64px;
  transform: translateX(-50%);
  box-shadow: 0 0 89px 18px rgb(0, 0, 0, 0.5) !important;
  animation-name: alert;
  animation-duration: 2s;
  animation-iteration-count: 1;
  z-index: 1500;
}

@keyframes alert {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 64px;
  }
}

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/722246/screenshots/3066818/404-page.gif);
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

aside.EmojiPickerReact.epr-main {
  height: 413px !important;
  width: 376px !important;
  position: absolute !important;
  bottom: 77px !important;
  right: 50px !important;
}
#account-menu MenuItem {
  margin-bottom: 20px;
}